img {
   display: block;
    margin: auto;
    border: 5px solid #000;

}
ul li {
    display: inline-block;
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 50px;
    padding-left: 50px;
    font: 45px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: black;
    border: black solid 2px;
    padding: 10px;
    margin: 5px;
}
a:hover {
    color: white;
    border: white solid 2px;
}
h1 {
    text-align: center;
    margin: auto;
    font: 50px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-bottom: 50px;
}
body {
    background-color: #93AAB5;
}
p {
    text-align: justify;
    margin: auto;
    font: 30px "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.link {
    text-decoration: underline ;
    color: black;
    border: none;
    padding: 0;
}
.link:hover {
    text-decoration: underline;
    color: black;
    border: none;
    padding: 0;
}